# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
tests/

# Data
data/*.db
data/deployed_at.txt
*.pdf
logs/*.log

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
.agents/
.agents
.kiro/

# Cursor
.cursor/
.cursor/skills/
.cursor/rules/
.cursor/commands/
.cursor/commands/

.pytest_cache/